@use 'styles/variables';

$block: '.#{variables.$ns}list';

#{$block} {
    padding: 0;
    margin: 0;

    list-style: none;

    border: 1px solid #dedede;
    border-radius: 4px;

    &__item {
        padding: 16px;

        &:not(:last-child) {
            border-bottom: 1px solid #dedede;
        }

        &:hover:not(&_selected) {
            background-color: #cfe5fe;
        }

        &_selected {
            color: #fff;
            background-color: #0f7ffa;
        }
    }
}
